.footerContainer {
  height: 40px;
  width: 100%;
  background: rgba(51, 51, 56, 0.9);
  p {
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .footerItem {
    display: inline-block;
    color: rgb(221, 221, 221);
    margin: 20px 19px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    &:hover {
      color: rgb(245, 245, 153);
    }
  }
}
