.homeContainer {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.homeContent {
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-top: 25vh;
}

.homeName {
  color: rgb(255, 255, 255);
  font-size: 64px;
}

.homeSubName {
  color: white;
  font-size: 24px;
  margin-top: -30px;
  margin-bottom: 75px;
}

.homeSubText {
  font-size: 16px;
  line-height: 25px;
  color: rgb(180, 179, 179);
}

.fadeDown {
  animation: fadeDown 3s;
}

.fadeUp {
  animation: fadeUp 3s;
  button {
    margin: 25px 25px;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    background: none;
    height: 30px;
    width: 140px;
    transition: 0.3s;
  }
  button:hover {
    background: white;
    color: rgb(0, 0, 56);
    cursor: pointer;
  }
}

@keyframes fadeDown {
  from {
    transform: translatey(-200px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translatey(200px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  .homeName {
    color: rgb(255, 255, 255);
    font-size: 42px;
  }
  .homeSubName {
    color: white;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 75px;
  }
  .homeSubText {
    font-size: 12px;
    line-height: 25px;
    color: grey;
  }

  .fadeUp {
    button {
      margin: 40px 15px;
      font-weight: normal;
      height: 30px;
      width: 120px;
    }
    button:hover {
      background: white;
      color: rgb(0, 0, 56);
      cursor: pointer;
    }
  }
}
