.showcaseContainer {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 50px;
  h1 {
    color: white;
  }
  p {
    color: lightgray;
    margin-bottom: 40px;
  }
  animation: fade 1s;
  min-height: 85vh;
}

.showcaseDivider {
  height: 3px;
  width: 175px;
  background: white;
  margin: auto;
  margin-top: -15px;
  margin-bottom: 50px;
}

#topBtn {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 50px;
  font-size: 16px;
  &:hover {
    color: rgb(245, 245, 153);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
