@import "./components/home.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/about.scss";
@import "./components/contact.scss";
@import "./components/slideshow.scss";
@import "./components/showcase.scss";

html {
  background: rgba(0, 0, 0, 1);
  background-image: url("./background.jpg");
}
body {
  margin: 0;
  font-family: "Palatino", "Lucida Grande", sans-serif;

  background-size: cover;
}

::placeholder {
  font-family: "Palatino", "Lucida Grande", sans-serif;
}
